/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(evangelionv2.gif);
    width: 800px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain; /* Add this to fit GIF properly */
    background-position: center; /* Add this to center the GIF */
    position: absolute; /* Needed for absolute children positioning */
}

.xbox .triggers {
    position: absolute;
    width: 800px; /* Use fixed width */
    height: 600px; /* Use fixed height */
    left: 0px;
    top: 0px;
}

.xbox .trigger {
    width: 800px; /* Or use smaller dimensions */
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}

.xbox .trigger.left {
    background: url(LT.png);
    /* Position left trigger on left side */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.xbox .trigger.right {
    background: url(RT.png);
    /* Position right trigger on right side */
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


.xbox .bumpers {
    position: absolute;
    width: 800px;
    height: 600px;
    left: 0px;
    top: 0px;
}

.xbox .bumper {
    position: absolute;
    width: 800px;
    height: 600px;
    opacity: 0;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    background: url(LB.png);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.xbox .bumper.right {
    background: url(RB.png);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.xbox .arrows
 {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .back {
    background: url(Select.png);
    width: 800px;
    height: 600px;
    opacity: 0;
}

.xbox .start {
    background: url(Start.png);
    width: 800px;
    height: 600px;
    opacity: 0;
}

.xbox .back.pressed {
    opacity: 1;
}

.xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .start {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0px;
    right: 0px;
}

.xbox .abxy {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .button {
    position: absolute;
}

.xbox .button.pressed {
    background-position-y: 0px;
    margin-top: 0px;
    opacity: 1;
}

.xbox .a {
    background: url(A.png);
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.xbox .b {
    background: url(B.png);
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.xbox .x {
    background: url(X.png);
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.xbox .y {
    background: url(Y.png);
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.xbox .sticks {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .stick {
    position: absolute;
}

.xbox .stick.pressed.left {
    background: url(LS.png);
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .stick.pressed.right {
    background: url(RS.png);
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .stick.left {
    background: url(LSidle.png);
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .stick.right {
    background: url(RSidle.png);
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .dpad {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .face {
    background: url();
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background: url(Up.png);
    left: 0px;
    top: 0px;
    width: 800px;
    height: 600px;
}

.xbox .face.down {
    background: url(Down.png);
    left: 0px;
    top: 0px;
    width: 800px;
    height: 600px;
}

.xbox .face.left {
    background: url(Left.png);
    left: 0px;
    top: 0px;
    width: 800px;
    height: 600px;
}

.xbox .face.right {
    background: url(Right.png);
    left: 0px;
    top: 0px;
    width: 800px;
    height: 600px;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

.xbox .quadrant {
    position: absolute;
    background: url();
}

/*END Xbox One Controller Styling*/