/*BEGIN xbox shinji Controller Styling*/
.controller.xbox {
    background: url(evangelionv2.gif);
    height: 800px;
    width: 600px;
}

.xbox.disconnected {
    background: url(disconnected.png);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    height: 800px;
    width: 600px;
    position: absolute;
    left: 0;
    top: 0;
}

.xbox .trigger {
    height: 800px;
    width: 600px;
    opacity: 0;
    position: absolute;
}

.xbox .trigger.left {
    background: url(LT.png);
    background-repeat: no-repeat;
}

.xbox .trigger.right {
    background: url(RT.png);
    transform: none !important;
    background-repeat: no-repeat;
}

.xbox .trigger.pressed {
    opacity: 1;
}

.xbox .bumper {
    opacity: 0;
    height: 800px;
    width: 600px;
    position: absolute;
}

.xbox .bumpers {
    position: absolute;
    height: 800px;
    width: 600px;
    left: 0;
    top: 0;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    background: url(LB.png);
    background-repeat: no-repeat;
}

.xbox .bumper.right {
    background: url(RB.png);
    transform: none !important;
    background-repeat: no-repeat;
}

.xbox .arrows {
    position: absolute;
    height: 800px;
    width: 600px;
    top: 0;
    left: 0;
}

.xbox .back, .xbox .start {
    background-repeat: no-repeat;
    height: 800px;
    width: 600px;
    opacity: 0;
    position: absolute;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    background: url(Share.png);
}

.xbox .start {
    background: url(Options.png);
}

.xbox .abxy {
    position: absolute;
    height: 800px;
    width: 600px;
    top: 0;
    left: 0;
}

.xbox .button {
    position: absolute;
    height: 800px;
    width: 600px;
    opacity: 0;
}

.xbox .button.pressed {
    opacity: 1;
}

.xbox .a {
    background: url(A.png);
    background-repeat: no-repeat;
}

.xbox .b {
    background: url(B.png);
    background-repeat: no-repeat;
}

.xbox .x {
    background: url(X.png);
    background-repeat: no-repeat;
}

.xbox .y {
    background: url(Y.png);
    background-repeat: no-repeat;
}

.xbox .sticks {
    position: absolute;
    height: 800px;
    width: 600px;
    top: 0;
    left: 0;
}

.xbox .stick {
    position: absolute;
    height: 800px;
    width: 600px;
    opacity: 0;
}

.xbox .stick.pressed {
    opacity: 1;
}

.xbox .stick.left {
    background: url(LS.png);
    background-repeat: no-repeat;
}

.xbox .stick.right {
    background: url(RS.png);
    background-repeat: no-repeat;
}

.xbox .stick.left.idle {
    background: url(LSidle.png);
    background-repeat: no-repeat;
    opacity: 1;
}

.xbox .stick.right.idle {
    background: url(RSidle.png);
    background-repeat: no-repeat;
    opacity: 1;
}

.xbox .dpad {
    position: absolute;
    height: 800px;
    width: 600px;
    top: 0;
    left: 0;
}

.xbox .face {
    position: absolute;
    height: 800px;
    width: 600px;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background: url(Up.png);
    background-repeat: no-repeat;
}

.xbox .face.down {
    background: url(Down.png);
    background-repeat: no-repeat;
}

.xbox .face.left {
    background: url(Left.png);
    background-repeat: no-repeat;
}

.xbox .face.right {
    background: url(Right.png);
    background-repeat: no-repeat;
}

/*END xbox shinji Controller Styling*/