/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(evangelionv2.gif);
    width: 800px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain; /* Add this to fit GIF properly */
    background-position: center; /* Add this to center the GIF */
    position: absolute; /* Needed for absolute children positioning */
}

.xbox .triggers {
    position: absolute;
    width: 800px; /* Use fixed width */
    height: 600px; /* Use fixed height */
    left: 0px;
    top: 0px;
}

.xbox .trigger {
    width: 800px; /* Or use smaller dimensions */
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}

.xbox .trigger.left {
    background: url(LT.png);
    /* Position left trigger on left side */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.xbox .trigger.right {
    background: url(RT.png);
    /* Position right trigger on right side */
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


.xbox .bumpers {
    position: absolute;
    width: 800px;
    height: 600px;
    left: 0px;
    top: 0px;
}

.xbox .bumper {
    position: absolute;
    width: 800px;
    height: 600px;
    opacity: 0;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    background: url(LB.png);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.xbox .bumper.right {
    background: url(RB.png);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.xbox .arrows
 {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .back {
    background: url(Select.png);
    width: 800px;
    height: 600px;
    opacity: 0;
}

.xbox .start {
    background: url(Start.png);
    width: 800px;
    height: 600px;
    opacity: 0;
}

.xbox .back.pressed {
    opacity: 1;
}

.xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .start {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0px;
    right: 0px;
}

.xbox .abxy {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0px;
    left: 0px;
}

.xbox .button {
    position: absolute;
    background: url(xbox-assets/abxy.svg);
    width: 48px;
    height: 48px;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 5px;
    opacity: 1;
}

.xbox .a {
    position: absolute;
    top: 0px;
    left: 0px;
}

.xbox .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.xbox .x {
    background-position: -98px 0;
    top: 58px;
    left: 4px;
}

.xbox .y {
    background-position: 48px 0;
    left: 55px;
    top: 7px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 239px;
    left: 144px;
}

.xbox .stick {
    position: absolute;
    background: url(xbox-assets/stick.svg);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .stick.left {
    top: 0;
    left: 0;
}

.xbox .stick.right {
    top: 113px;
    left: 288px;
}

.xbox .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 223px;
}

.xbox .face {
    background: url(xbox-assets/dpad.svg);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 34px 0;
    left: 38px;
    top: 0px;
    width: 34px;
    height: 56px;
}

.xbox .face.down {
    left: 38px;
    bottom: 0;
    width: 34px;
    height: 56px;
}

.xbox .face.left {
    background-position: 0 -93px;
    width: 55px;
    height: 35px;
    top: 38px;
    left: 0;
}

.xbox .face.right {
    background-position: 0 -57px;
    width: 55px;
    height: 35px;
    top: 38px;
    right: 0;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/