/*BEGIN Xbox One Controller Styling - Simple Stacking Version*/
.controller.xbox {
    background: url(evangelionv2.gif);
    height: 600px;
    width: 800px;
    position: relative;
    margin: 0 auto;
}

/* All button containers stack perfectly */
.xbox .triggers,
.xbox .bumpers,
.xbox .abxy,
.xbox .sticks,
.xbox .dpad,
.xbox .arrows {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0;
    left: 0;
}

/* All buttons are full 800x600 images stacked on top */
.xbox .trigger,
.xbox .bumper,
.xbox .button,
.xbox .stick,
.xbox .face,
.xbox .back,
.xbox .start {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0;
    left: 0;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Individual button images */
.xbox .trigger.left { background: url(LT.png); }
.xbox .trigger.right { background: url(RT.png); }
.xbox .bumper.left { background: url(LB.png); }
.xbox .bumper.right { background: url(RB.png); }
.xbox .a { background: url(A.png); }
.xbox .b { background: url(B.png); }
.xbox .x { background: url(X.png); }
.xbox .y { background: url(Y.png); }
.xbox .stick.left { background: url(LSidle.png); }
.xbox .stick.right { background: url(RSidle.png); }
.xbox .face.up { background: url(Up.png); }
.xbox .face.down { background: url(Down.png); }
.xbox .face.left { background: url(Left.png); }
.xbox .face.right { background: url(Right.png); }
.xbox .back { background: url(Select.png); }
.xbox .start { background: url(Start.png); }

/* Pressed states */
.xbox .button.pressed,
.xbox .bumper.pressed,
.xbox .trigger.pressed,
.xbox .stick.pressed,
.xbox .face.pressed,
.xbox .back.pressed,
.xbox .start.pressed {
    opacity: 0.7;
}
/*END Xbox One Controller Styling*/