/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(evangelionv2.gif);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 800px;
    position: relative;
    margin: 0 auto;
}

.xbox .triggers {
    width: 800px;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
}

.xbox .trigger {
    width: 100px;
    height: 200px;
    position: absolute;
    opacity: 1;
}

.xbox .trigger.left {
    background: url(LT.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 50px;
    left: 150px;
}

.xbox .trigger.right {
    background: url(RT.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 50px;
    right: 150px;
    transform: none;
}

.xbox .bumper {
    width: 200px;
    height: 50px;
    background: url(xbox-assets/bumper.svg);
    opacity: 1;
    position: absolute;
}

.xbox .bumpers {
    position: absolute;
    width: 800px;
    height: 600px;
    left: 0;
    top: 0;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    top: 100px;
    left: 150px;
}

.xbox .bumper.right {
    top: 100px;
    right: 150px;
    transform: none;
}

.xbox .quadrant {
    position: absolute;
    background: url(xbox-assets/quadrant.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    top: 200px;
    left: 350px;
    z-index: 0;
}

.xbox .p0 {
    transform: rotate(0deg);
}

.xbox .p1 {
    transform: rotate(90deg);
}

.xbox .p2 {
    transform: rotate(270deg);
}

.xbox .p3 {
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 200px;
    left: 0;
}

.xbox .back, .xbox .start {
    background: url(xbox-assets/start-select.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    top: 250px;
    left: 300px;
}

.xbox .start {
    top: 250px;
    right: 300px;
    background-position: center;
}

.xbox .abxy {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 150px;
    right: 100px;
}

.xbox .button {
    position: absolute;
    background: url(xbox-assets/abxy.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.xbox .button.pressed {
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    bottom: 0;
    left: 70px;
}

.xbox .b {
    background-position: -49px 0;
    top: 0;
    right: 0;
}

.xbox .x {
    background-position: -98px 0;
    top: 0;
    left: 0;
}

.xbox .y {
    background-position: 48px 0;
    top: 0;
    left: 70px;
}

.xbox .sticks {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 200px;
    left: 100px;
}

.xbox .stick {
    position: absolute;
    background: url(xbox-assets/stick.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    width: 80px;
}

.xbox .stick.pressed {
    opacity: 1;
}

.xbox .stick.left {
    top: 50px;
    left: 150px;
}

.xbox .stick.right {
    top: 150px;
    right: 150px;
}

.xbox .dpad {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 200px;
    left: 250px;
}

.xbox .face {
    background: url(xbox-assets/dpad.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1;
    width: 50px;
    height: 50px;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: center;
    top: 0;
    left: 50px;
}

.xbox .face.down {
    background-position: center;
    bottom: 0;
    left: 50px;
}

.xbox .face.left {
    background-position: center;
    top: 50px;
    left: 0;
}

.xbox .face.right {
    background-position: center;
    top: 50px;
    right: 0;
}

.xbox.half {
    margin-top: 0;
}

.xbox {
    background: no-repeat center;
    background-size: cover;
}
/*END Xbox One Controller Styling*/